@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dipak Has done Testing for CICD Welcome-Next</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">New chnagesTest building Web apps with ASP.NET Core</a>.</p>
</div>
